---
import Layout from "../layouts/Layout.astro";
import { slide } from "astro:transitions";
import Project from "../components/Project.astro";
import ProjectData from '../data/ProjectData.js'
import inProgProjectData from "../data/inProgProjectData";
---
<Layout>
    <div transition:animate={slide({ duration: '1.0s' })} class="px-4 md:py-8">
        <h1 class="text-5xl">Projects</h1>
        <p class="pt-2">This page is just to share projects I've completed or projects that I've been working on for a bit. You can of course checkout my github to get a more clear picture of what I do day-to-day. Checkout my blog to see more content about these.</p>
        <h2 class="text-2xl pt-12">Completed Projects:</h2>
        <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 items-stretch justify-items-end py-4">
            {ProjectData.map(project => (
                    <Project
                        title={project.title}
                        src={project.src}
                        description={project.description}
                        tools={project.tools}
                        link={project.link}
                        github={project.github}
                    />
            ))}
        </section>
        <!-- <h2 class="text-2xl pt-12">Nearing Completion:</h2>
        <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 items-stretch justify-items-end py-4">
            {inProgProjectData.map(project => (
            <Project
                title={project.title}
                src={project.src}
                description={project.description}
                tools={project.tools}
                link={project.link}
                github={project.github}
            />
            ))}
        </section> -->
    </div>
</Layout>