---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
const { frontmatter } = Astro.props;
import '@fontsource/fira-sans'
import { ViewTransitions } from "astro:transitions";

const {class: className, ...rest} = Astro.props
---
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Neal Powers</title>
        <ViewTransitions />
    </head>
    <body class="bg-gray-800 text-white">
        <div class="mx-auto">
            <Nav />
            <main class=" bg-gray-900 min-h-screen max-w-screen-xl px-8 pt-36 md:pt-8 mx-auto">
                <div class="prose prose-neutral dark:prose-invert prose-xl lg:prose-xl text-white mx-auto">
                    <h1 class="text-5xl">{frontmatter.title}</h1>
                    <div class="text-sm leading-3 pb-4">
                        <p>Published on: {frontmatter.pubDate}</p>
                        <p>Written by {frontmatter.author}</p>
                        <a class="text-gray-500 hover:text-gray-300" href="/blog">All Posts</a>
                    </div>
                    <slot class={className} {...rest} />
                </div>
            </main>
            <Footer />
        </div>
    </body>
</html>